img {
    width: 500px;
    height: 400px;
}

nav {
    padding: 10px;
    border: 4px solid red;
    background-color: rgb(216, 216, 137)
}

#header {
    padding: 10px;
    border: 2px solid blue;
}

header {
    padding: 10px;
    border: 4px solid green;
}

main {
    padding: 10px;
    border: 4px solid purple;
}

aside {
    padding: 10px;
    border: 4px solid purple;
    height: 400px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 190px;
    left: 700px;
}
table, th, td  {
    border: 1px solid springgreen;
    border-collapse: collapse;

}

footer {
    padding: 10px;
    border: 4px solid aqua;
}

#nav li {
list-style: none;
display: inline-block;
width: 200px;
  
}

.section {
   
}

p {
width: 700px;


}